@{
	Layout = "/_Master.cshtml";

	ViewData[Keys.Title] = "Reference - " + Model.String(Keys.GroupKey);
}

@section Infobar {
	<div id="infobar-headings"></div>
}

@section Sidebar {
    @Html.Partial("_DslSidebar")
}

<section class="content-header">
	<h1>@Model.String(Keys.GroupKey)</h1>
</section>
<section class="content">
    @{
        IDocument containingClass = Model
            .DocumentList(Keys.GroupDocuments)
            .FirstOrDefault();
    }
    @Html.Partial("_AddinAlert", containingClass)

    @{
        string summary = Model
            .DocumentList(Keys.GroupDocuments)
            .Select(x => x.String(CodeAnalysisKeys.Summary))
            .FirstOrDefault(x => !string.IsNullOrEmpty(x));
    }
    @if(!string.IsNullOrWhiteSpace(summary))
    {
        <h1 id="Summary">Summary</h1>
        <div>@Html.Raw(summary)</div>
    }

    @Html.Partial("_AliasesList", Model.DocumentList(Keys.GroupDocuments))

    @RenderBody()
</section>