@model IEnumerable<IDocument>

@{
    var extensions =
        Model
            .OrderBy(x => x.String("Name"))
            .ToList();
}

<div class="list-extensions list" role="list">
    @if (!extensions.Any())
    {
        <p>
            No extensions found
        </p>
    }

    @foreach(IDocument extension in extensions)
    {
        string name = extension.String("Name");
        string description = extension.String("Description");
        string author = extension.String("Author");
        string repository = extension.String("Repository");
        string version = extension.String("Version");
        string categories = (String.Join(", ", extension.List<string>("Categories")));

        <article class="extension row" data-name="@name" data-categories="@categories">
            <div class="col-sm-1 hidden-xs hidden-sm col-package-icon">
                <i class="fa fa-puzzle-piece fa-4x"></i>
            </div>
            <div class="col-sm-11">
                <div class="extension-header">
                    <a class="extension-title" href="/extensions/@name.ToLower().Replace(".", "-")/">@name</a>
                    <span class="extension-by">
                        by @author
                    </span>
                </div>

                <ul class="extension-metadata">
                    <li>
                        Latest version: @version
                    </li>
                    <li>
                        <i class="fa fa-github"></i>
                        <a href="@repository" target="_blank">@repository.Replace("https://github.com/", string.Empty).TrimEnd('/')</a>
                    </li>
                    @if (!string.IsNullOrWhiteSpace(categories))
                    {
                        <li>
                            <i class="fa fa-tags"></i>
                            @categories
                        </li>
                    }
                </ul>

                <div class="extension-details">
                    @description
                </div>
            </div>
        </article>
    }
</div>