@model IDocument

@{
    string nuget = Model.String("NuGet");
    string version = Model.String("AnalyzedPackageVersion");
    bool isPrerelease = Model.Bool("AnalyzedPackageIsPrerelease");
    string preReleaseQueryParam = isPrerelease ? "&prerelease" : string.Empty;
}

@if (isPrerelease)
{
    <div class="alert alert-info" role="alert">
      <i class="fa fa-info-circle"></i> This is a prerelease version of @(nuget).
    </div>
}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#directive">Preprocessor directive</a></li>
    <li><a data-toggle="tab" href="#config">packages.config</a></li>
    <li><a data-toggle="tab" href="#frosting-cli">Frosting .NET CLI</a></li>
    <li><a data-toggle="tab" href="#frosting-packagereference">Frosting PackageReference</a></li>
</ul>

<div class="tab-content">
    <div id="directive" class="tab-pane fade in active">
        <p>
<pre><code class="language-csharp hljs">#addin nuget:?package=@(nuget)&version=@(version + preReleaseQueryParam)</code></pre>
        </p>
    </div>
    <div id="config" class="tab-pane fade">
        <p>
<pre><code class="language-xml hljs">&lt;package id="@(nuget)" version="@(version)" /&gt;</code></pre>
        </p>
    </div>
    <div id="frosting-cli" class="tab-pane fade">
        <p>
<pre><code class="language-powershell hljs">dotnet add package @(nuget) --version @(version)</code></pre>
        </p>
    </div>
    <div id="frosting-packagereference" class="tab-pane fade">
        <p>
<pre><code class="language-xml hljs">&lt;PackageReference Include="@(nuget)" Version="@(version)" /&gt;</code></pre>
        </p>
    </div>
</div>
