@model Topic
@{
    ViewBag.Title = @Model.Name;
    ViewBag.Menu = "Documentation";
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";
}

@section Sidebar
{
    @foreach (var topicSection in Model.Section.Tree.Sections.Where(s => !s.Hidden))
    {
        if (!topicSection.HasVisibleTopics)
        {
            continue;
        }

        <h4><i class="fa fa-bookmark"></i> @topicSection.Name</h4>
        <ul>
            @foreach (var topic in topicSection.Topics.Where(t => !t.Hidden))
            {
                if (topic.Id == @Model.Id)
                {
                    <li class="active"><i class="fa fa-caret-right"></i> @topic.Name</li>
                }
                else
                {
                    <li>@Html.RenderLink(topic)</li>
                }
            }
        </ul>
    }
}

@* TITLE *@
<div class="main-content-title">
    <div style="float: right; line-height: 45px; padding-left: 20px;">
        <a href="@Html.GitHubLink(Model)"><i class="fa fa-github"></i> Edit on GitHub</a>
    </div>
    <h2>@Model.Name</h2>
</div>

<p>
    @* CONTENT *@
    @Html.Raw(Model.Body)
</p>

@if (Model.HasPrevious || Model.HasNext)
{
    <nav>
        <ul class="pager">
            @if (Model.HasPrevious)
            {
                @* PREVIOUS *@
                <li class="previous">
                    <a href="@LinkHelper.GetLink(Model.Previous)">
                        <i class="fa fa-arrow-circle-left"></i> @Model.Previous.Name
                    </a>
                </li>
            }
            @if (Model.HasNext)
            {
                @* NEXT *@
                <li class="next">
                    <a href="@LinkHelper.GetLink(Model.Next)">
                        @Model.Next.Name <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </li>
            }
        </ul>
    </nav>
}

