@model Cake.Web.Core.Dsl.DslCategory
@{
    ViewBag.Title = @Model.Name;
    ViewBag.Menu = "Reference";
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";
}

@section Sidebar
{
    <h4><i class="fa fa-bookmark"></i> Related</h4>
    <ul>
        <li><a href="@Url.Action("Index", "Api")">API Reference</a></li>
    </ul>

    <h4><i class="fa fa-gear"></i> Categories</h4>
    <ul>
        @foreach (var topicSection in Model.Parent.Categories)
        {
            <li><a href="@Url.Action("Index", "Dsl", new {path = topicSection.Slug})">@topicSection.Name</a></li>
        }
    </ul>
}

@* TITLE *@
<div class="main-content-title">
    <h2>@Model.Name</h2>
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Dsl", new {path = ""})">Reference</a></li>
        <li>@Model.Name</li>
    </ul>
</div>

<div style="margin-top: 20px">

    @* ADDIN *@
    @if (@Model.Metadata.IsOwnedByAddin)
    {
        @Html.Partial("_AddinWarning", Model.Metadata)
    }

    @* SUMMARY *@
    @if (@Model.Summary != null)
    {
        <div id="summary" class="panel panel-info">
            <div class="panel-heading">
                <b>Summary</b>
            </div>
            <div class="panel-body">
                <p>@Api.Comment(Model.Summary)</p>
            </div>
        </div>
    }

    @* GENERAL METHODS *@
    @if (Model.Methods.Count > 0)
    {
        <div class="panel panel-default">
            <div class="panel-heading"><b>General</b>
            </div>
            <table class="table table-bordered table-striped">
                <tbody>
                @foreach (var method in Model.Methods)
                {
                    <tr>
                        <td class="col-md-6">@Api.ExtensionMethodLink(method)</td>
                        <td class="col-md-6">@Api.Comment(method.Summary)</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }

    @* SUB CATEGORY METHODS *@
    @if (Model.SubCategories.Count > 0)
    {
        foreach (var subCategory in @Model.SubCategories)
        {
            <div class="panel panel-default">
                <div class="panel-heading"><b>@subCategory.Name</b>
                </div>
                <table class="table table-bordered table-striped">
                    <tbody>
                    @foreach (var method in subCategory.Methods)
                    {
                        <tr>
                            <td class="col-md-6">
                                <p class="second-line-indented">@Api.ExtensionMethodLink(method)</p>
                            </td>
                            <td class="col-md-6">@Api.Comment(method.Summary)</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
    }
</div>