@model Cake.Web.Models.ApiViewModel

@{
    ViewBag.Title = "API Reference";
    ViewBag.Menu = "Reference";
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";
}

@section Sidebar
{
    <h4><i class="fa fa-bookmark"></i> Related</h4>
    <ul class="api-nav">
        <li>
            <a href="@Url.Action("Index", "Dsl", new {path = ""})">DSL Reference</a>
        </li>
    </ul>

    <h4><i class="fa fa-cog"></i> Assemblies</h4>
    <ul>
        @foreach (var assembly in Model.Assemblies.OrderBy(x => x.Name).DistinctBy(x => x.Name))
        {
            <li><a href="#">@assembly.Name</a></li>
        }
    </ul>
}

@* TITLE *@
<div class="main-content-title">
    <h2>API Reference</h2>
</div>

@* NAMESPACES *@
<div style="margin-top: 20px">
    @foreach (var assembly in Model.Assemblies.OrderBy(x => x.Name).DistinctBy(x => x.Name))
    {
        <div class="panel panel-default">
            <div class="panel-heading"><b>@assembly.Name</b></div>
            <table class="table table-bordered table-striped">
                <tbody>
                    @foreach (var @namespace in assembly.Namespaces.OrderBy(x => x.Name).DistinctBy(x => x.Name))
                    {
                        <tr>
                            <td class="col-md-3">@Api.NamespaceLink(@namespace)</td>
                            <td class="col-md-9">
                                @Api.Comment(@namespace.Summary)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
