@model Cake.Web.Models.MethodViewModel
@{
    ViewBag.Title = @Api.MethodName(Model.Data);
    ViewBag.Menu = "Reference";
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";
}

@section Sidebar
{
    <h4><i class="fa fa-bookmark"></i> Related</h4>
    <ul class="api-nav">
        <li>
            <a href="@Url.Action("Index", "Dsl", new {path = ""})">DSL Reference</a>
        </li>
    </ul>
}

<div class="main-content-title">
    <h2>
        @Api.MethodName(Model.Data, MethodRenderOption.TypeName | MethodRenderOption.Name | MethodRenderOption.Parameters) <small>@Api.MethodClassificationName(Model.Data)</small>
    </h2>
    @Api.BreadCrumb(@Model.Data)
</div>

<div style="margin-top: 20px">

    @if (@Model.Data.Summary != null)
    {
        <div id="summary" class="panel panel-default">
            <div class="panel-heading">
                <b>Summary</b>
            </div>
            <div class="panel-body">
                <p>@Api.Comment(Model.Data.Summary)</p>
            </div>
        </div>
    }

    @* -SYNTAX- *@
    <div id="syntax" class="panel panel-default">
        <div class="panel-heading">
            <b>Syntax</b>
        </div>
        <div class="panel-body code-box">
            <pre><code class="language-csharp">@Api.Syntax(@Model.Data)</code></pre>
        </div>
    </div>

    @* -PARAMETERS- *@
    @if (@Model.Data.Parameters.Count > 0)
    {
        <div id="parameters" class="panel panel-default">
            <div class="panel-heading">
                <b>Parameters</b>
            </div>
            <div class="panel-body">
                <dl>
                    @foreach (var item in @Model.Data.Parameters)
                    {
                        <dt><i>@item.Name</i></dt>
                        <dd>Type: @Api.TypeLink(item.Definition.ParameterType)<br />@Api.Comment(item.Comment)</dd>
                    }
                </dl>
            </div>
        </div>
    }

    @* -RETURN VALUE- *@
    @if (@Model.Data.Returns != null)
    {
        <div id="returnvalue" class="panel panel-default">
            <div class="panel-heading">
                <b>Return value</b>
            </div>
            <div class="panel-body">
                Type: @Api.TypeLink(@Model.Data.Definition.ReturnType)<br />
                @Api.Comment(@Model.Data.Returns)
            </div>
        </div>
    }

    @* -EXAMPLE- *@
    @if (@Model.Data.Example != null)
    {
        <div id="example" class="panel panel-default">
            <div class="panel-heading">
                <b>Example</b>
            </div>
            <div class="panel-body code-box">
                @Api.Comment(@Model.Data.Example)
            </div>
        </div>
    }
</div>