@model Cake.Web.Models.NamespaceViewModel
@{
    ViewBag.Title = @Model.Name;
    ViewBag.Menu = "Reference";
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";
}

@section Sidebar
{
    <h4><i class="fa fa-bookmark"></i> Related</h4>
    <ul class="api-nav">
        <li>
            <a href="@Url.Action("Index", "Dsl", new {path = ""})">DSL Reference</a>
        </li>
    </ul>
}

@* TITLE *@
<div class="main-content-title">
    <h2>@Model.Name <small>Namespace</small>
    </h2>
    @Api.BreadCrumb(@Model.Data)
</div>

@if (Model != null && Model.Data != null)
{
    <!-- Identity: @Model.Data.Identity -->
}

<div style="margin-top: 20px">

    @* ADDIN *@
    @if (@Model.Data.Metadata.IsOwnedByAddin)
    {
        @Html.Partial("_AddinWarning", Model.Data.Metadata)
    }

    @* SUMMARY *@
    @if (@Model.Summary != null)
    {
        <div id="summary" class="panel panel-default">
            <div class="panel-heading">
                <b>Summary</b>
            </div>
            <div class="panel-body">
                <p>@Api.Comment(Model.Summary)</p>
            </div>
        </div>
    }

    @* NAMESPACES *@
    @if (Model.Namespaces.Count > 0)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Namespaces</b>
            </div>
            <table class="table table-bordered table-striped">
                <tbody>
                    @foreach (var @namespace in Model.Namespaces.OrderBy(x => x.Name))
                    {
                        <tr>
                            <td>@Api.NamespaceLink(@namespace)</td>
                            <td>@Api.Comment(@namespace.Summary)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    @* CLASSES *@
    @if (Model.Classes.Count > 0)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Classes</b>
            </div>
            <table class="table table-bordered table-striped">
                <tbody>
                    @foreach (var type in Model.Classes.OrderBy(x => x.Definition.Name))
                    {
                        <tr>
                            <td>@Api.TypeLink(type)</td>
                            <td>@Api.Comment(type.Summary)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    @* INTERFACES *@
    @if (Model.Interfaces.Count > 0)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Interfaces</b>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="col-md-3">Name</th>
                        <th class="col-md-9">Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var type in Model.Interfaces.OrderBy(x => x.Definition.Name))
                    {
                        <tr>
                            <td>@Api.TypeLink(type)</td>
                            <td>@Api.Comment(type.Summary)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>