@model Cake.Web.Models.PropertyViewModel
@{
    ViewBag.Title = @Api.PropertyName(Model.Data);
    ViewBag.Menu = "Reference";
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";
}

@section Sidebar
{
    <h4><i class="fa fa-bookmark"></i> Related</h4>
    <ul class="api-nav">
        <li>
            <a href="@Url.Action("Index", "Dsl", new {path = ""})">DSL Reference</a>
        </li>
    </ul>
}

@* TITLE *@
<div class="main-content-title">
    <h2>@Api.PropertyName(Model.Data) <small>Property</small></h2>
    @Api.BreadCrumb(@Model.Data)
</div>

<div style="margin-top: 20px">

    @* ADDIN *@
    @if (@Model.Data.Metadata.IsExternallyOwned)
    {
        @Html.Partial("_AddinWarning", Model.Data.Metadata)
    }

    @* SUMMARY *@
    @if (@Model.Data.Summary != null)
    {
        <div id="summary" class="panel panel-default">
            <div class="panel-heading">
                <b>Summary</b>
            </div>
            <div class="panel-body">
                <p>@Api.Comment(Model.Data.Summary)</p>
            </div>
        </div>
    }

    @* PROPERTY VALUE *@
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Property Value</b>
        </div>
        <div class="panel-body">
            <b>Type:</b> @Api.TypeLink(@Model.Data.Definition.PropertyType)
            @if (@Model.Data.Value != null)
            {
                <p><b>Value:</b> @Api.Comment(@Model.Data.Value)</p>
            }
        </div>
    </div>

    @* -EXAMPLE- *@
    @if (@Model.Data.Examples.Count > 0)
    {
        var index = 0;
        foreach (var example in @Model.Data.Examples)
        {
            index++;
            <div id="example" class="panel panel-info">
                <div class="panel-heading">
                    @if (Model.Data.Examples.Count > 1)
                    {
                        <b>Example @index</b>
                    }
                    else
                    {
                        <b>Example</b>
                    }
                </div>
                <div style="margin: 15px;">
                    @Api.Comment(example)
                </div>
            </div>
        }
    }

</div>