@model Cake.Web.Models.BlogViewModel
@{
    ViewBag.Menu = "Blog";
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";
}

@section Sidebar
{
    <h4><i class="fa fa-bookmark"></i> Categories</h4>
    <ul>
        @foreach (var category in Model.Categories.OrderBy(c => c.Title))
        {
            <li><a href="@Html.GetLink(category)">@category.Title</a></li>
        }
    </ul>

    <h4><i class="fa fa-calendar"></i> Archive</h4>
    <ul>
        @foreach (var time in Model.Archive.OrderByDescending(t => t))
        {
            <li><a href="@Html.GetArchiveLink(time)">@time.ToString("MMMM, yyyy")</a></li>
        }
    </ul>

<h4><i class="fa fa-user"></i> Author</h4>
<ul>
    @foreach (var author in Model.Authors.OrderByDescending(t => t))
    {
        <li><a href="@Html.GetAuthorLink(author)">@author</a></li>
    }
</ul>

}

@RenderBody()