<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cake - @ViewBag.Title</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/css/highlight")
    @Styles.Render("~/Content/css/files")
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    @*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/default.min.css">*@

    <!-- Feed -->
    <link rel="alternate" type="application/atom+xml" title="The Cake blog feed" href="http://cakebuild.net/blog/feed/atom">

</head>
<body id="root">

    @* HEADER *@
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container lol">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <a href="@Url.Action("Index", "Home")">
                        <img class="hidden-xs" src="~/Content/img/logo.png" alt="">
                        <img class="visible-xs" src="~/Content/img/logo_small.png" alt="">
                    </a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="@Html.ActiveMenu("Blog")"><a href="@Url.Action("Index", "Blog")">Blog</a></li>
                    <li class="@Html.ActiveMenu("Documentation")"><a href="@Url.Action("Index", "Docs", new {path = ""})">Documentation</a></li>
                    <li class="@Html.ActiveMenu("Reference")"><a href="@Url.Action("Index", "Dsl", new {path = ""})">Reference</a></li>
                    <li class="@Html.ActiveMenu("Addins")"><a href="@Url.Action("Index", "Addin", new {path = ""})">Addins</a></li>
                    <li class=""><a href="https://github.com/cake-build/cake"><i class="fa fa-github"></i> Source Code</a></li>
                </ul>
            </div>
        </div>
    </nav>

    @* CONTENT *@
    <div class="page-content">
        @RenderBody()
    </div>

    @* FOOTER *@
    <footer class="footer">
        <div class="container">
            <p class="text-muted text-right">
                <a href="https://github.com/cake-build/cake"><i class="fa fa-github"></i> GitHub</a> |
                <a href="https://twitter.com/cakebuildnet"><i class="fa fa-twitter"></i> Twitter</a> |
                <a href="https://gitter.im/cake-build/cake"><i class="fa fa-comment"></i> Gitter</a>
            </p>
            <p class="text-muted text-right">Copyright &copy; Patrik Svensson, Mattias Karlsson, Gary Ewan Park and contributors.</p>
        </div>
    </footer>

    @Scripts.Render("~/Content/js/jquery")
    @Scripts.Render("~/Content/js/bootstrap")
    @Scripts.Render("~/Content/js/highlight")
    @RenderSection("scripts", required: false)

    <script>hljs.initHighlightingOnLoad();</script>

    <!-- Gitter -->
    <script>
        ((window.gitter = {}).chat = {}).options = {
            room: 'cake-build/cake'
        };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>

<!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-60516413-1', 'auto');
        ga('send', 'pageview');
    </script>

</body>
</html>
