@model Cake.Web.Models.BlogPostViewModel
@{
    ViewBag.Title = Model.Post.Title;
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

<div class="blog-post">
    <div class="blog-post-header">
        <div class="blog-post-title">
            <h2>@Model.Post.Title</h2>
        </div>
        <div class="blog-post-meta">
            <i class="fa fa-calendar"></i> @Model.Post.PostedAt.ToString("dd MMM yyyy")<br />
            <i class="fa fa-tag"></i> @Html.RenderCategoryList(@Model.Post)
        </div>
    </div>
    <div class="blog-post-content">
        @Html.Raw(@Model.Post.Body)
    </div>
    <div class="blog-post-footer">
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="@Model.Post.Title" data-via="cakebuildnet" data-dnt="true">Tweet</a>
        <script>
            !function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + '://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, 'script', 'twitter-wjs');
        </script>
    </div>
</div>